/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hero-bg {
      background-image: url('./assets/hospice.jpg');
      background-size: cover;
      background-position: center;
    }
  }

  @layer utilities {
    .first-grid {
      background-image: url('./assets/personal.jpg');
      background-size: cover;
      background-position: center;
    }
  }

  @layer utilities {
    .second-grid {
      background-image: url('./assets/help.jpg');
      background-size: cover;
      background-position: center;
    }
  }

  @layer utilities {
    .third-grid {
      background-image: url('./assets/social.jpg');
      background-size: cover;
      background-position: center;
    }
  }

  @layer utilities {
    .fourth-grid {
      background-image: url('./assets/skill.jpg');
      background-size: cover;
      background-position: center;
    }
  }
  
  @layer utilities {
    .contact-section {
      background-image: url('./assets/contactus.jpg');
      background-size: cover;
      background-position: center;
    }
  }