/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hero-bg {
      background-image: url('./assets/hospice.jpg');
      background-size: cover;
      background-position: center;
    }
  }
  